extends ../layout

block content
  header
    h1= title
    
  div(role="main")
    p= content
    form(method="post", action="/hello/add")
      table
        tr
          th NAME
          td
            input(type="text", name="name")
        tr
          th MAIL
          td
            input(type="text", name="mail")
        tr
          th AGE
          td
            input(type="text", name="age")
        tr
          th
          td
            input(type="submit", value="作成")
